body {
    background: rgb(0,49,85);
    background: linear-gradient(90deg, rgba(0,49,85,1) 0%, rgba(122,255,157,1) 28%, rgba(135,239,171,1) 63%, rgba(134,241,170,1) 84%, rgb(35, 116, 101) 97%);
    background-repeat: repeat-y;
 
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: rgb(7, 125, 41);
    margin: 10px;
}
.container{
    width: auto;
    display: flex;
   
}

.Calculator-Container{
    width: 22rem;
    height: 80vh;
    margin: auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(134 239 172);
    position: relative;

}

h2{
    margin: auto;
    font-size: 0.8rem;
    float: right;
    margin-right: 10px;
    color:rgb(0, 70, 28);
}

#inputbox{
    border: 1px solid green;
    width: auto;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(220 252 231);
    font-size: 20px;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#first-output{
    color: green;
    font-size: 2.0rem;
    background-color: rgba(0, 0, 0, 0.258);
    display: flex;
    justify-content: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

#result-output{
    color: green;
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
}


button{
    width: 5rem;
    height: 5rem;
	background-color: rgb(21 128 61);   

    margin: 2px;
    border-radius: 5px;
    font-size: 22px;
    color: rgb(220 252 231);;
}
button:hover{
	background-color: rgb(20 83 45);}


#equal{
    width: 10.5rem;
    background-color: rgb(34 197 94);
}
#clear{
    background-color: rgb(1, 127, 47);
    width: 10.5rem;
}

#equal:hover, #clear:hover{
	background-color: rgb(20 83 45);}


/*History*/
#log{

    color: green;
    border: 1px solid green;
    padding: 3px;
    width: 20rem;
    margin: auto;
    height: auto;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(134 239 172);

}

li{
    background-color: rgb(34 197 94);
    font-size: 1.1rem;
    width: 200px;
    max-width: 300px; 
    height: 40px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    line-height: 40px;
    color: black;
    font-family: sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}
span{
    background-color: rgb(34 197 94);
    width: 60px; 
    height: 40px, auto;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    line-height: 40px;
    margin: 5px;
    font-size: 1.1rem;
    color: black;
    font-family: sans-serif;
}
.clearAllBtn{
    width: 100px;
    height: 30px;
    font-size: medium;
}

h3{
    text-align: center;
    font-family: sans-serif;
    color: black;
}



footer img {
    width: 22px;
    height: 22px;
    margin-left: 4px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}